<head>

    <title>Budgeteer!</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Plotly.js CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'budgeteer_app/style.css' %}">


</head>

<body class="teal-text text-lighten-2">

    <header>
        {% include 'budgeteer/includes/nav.html' %}
        <br>
        {% include 'budgeteer/includes/messages.html' %}
    </header>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="teal lighten-4 page-footer">
        {% include 'budgeteer/includes/footer.html' %}
    </footer>

</body>
