<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="{% url 'budgeteer:logout' %}">Logout</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>


<nav>
    <div class="nav-wrapper teal lighten-2">
        <div class="container">
            {% if request.user.is_authenticated %}
                <a href="/{{ request.user.username }}" class="brand-logo">Logo</a>
            {% else %}
                <a href="{%  url 'budgeteer:home' %}" class="brand-logo">Logo</a>
            {% endif %}
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown1">
                            {{ request.user.display_name }}
                            <!-- <i class="material-icons right">arrow_drop_down</i> -->
                        </a>
                    </li>
                    <li><a href="{% url 'budgeteer:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="#">Test1</a></li>
                    <li><a href="#">Test2</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>