{% extends 'budgeteer/app.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <h5>Budget</h5>
        </div>
        <div class="col s12 m8 offset-m2">
            <div class="row">
                {% for budget in budgets %}
                    <div class="col s3">{{ budget.transaction_category }}</div>
                    <div class="col s3">{{ budget.period}}</div>
                    <div class="col s3">{{ budget.amount }}</div>
                    <div class="col s3">{{ actuals|get_item:budget.transaction_category.category }}</div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}