body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(245, 245, 235);
}

main {
    flex: 1 0 auto;
}

#nav-dislay-name {
    min-width: 150px;
}

/* Add Transaction View */
#add-transaction {
    font-size: 80% !important;
}

/* Edit Budget Categories View */
.category {
    margin-top: 15px;
}

.category-btn {
    margin: 10px 0 10px 0;
}

/* Budget View */
.budget-nav-labels {
    margin: 0;
}

.budget-navigation {
    margin: 20px 0;
}

.budget-content {
    margin-top: 50px;
}