{% extends 'budgeteer/app.html' %}

{% block content %}



    <form method="POST">
        {{ formset.management_form }}
        <style>
            input[type="text"] {
                font-size: 95% !important;
            }

            input[type="number"] {
                font-size: 95% !important;
            }
        </style>
        <table style="font-size: 80% !important;">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>Category</th>
                <th>Notes</th>
            </tr>

            {% for form in formset %}
                {% csrf_token %}
                <script>
                    $(document).ready(function() {
                        $('.datepicker').datepicker();
                    });
                </script>
                <tr>
{#                    <td hidden="True">{{ form.account }}</td>#}
                    <td width="10%">{{ form.date }}</td>
                    <td width="10%">{{ form.amount }}</td>
                    <td width="15%">{{ form.transaction_type }}</td>
                    <td width="15%">{{ form.category }}</td>
                    <td width="35%">{{ form.notes }}</td>
                </tr>
            {% endfor %}
        </table>
        <button class="btn waves-effect teal lighten-2" type="submit">Add Transactions</button>


    </form>
{% endblock %}