{% extends 'budgeteer/app.html' %}

{% block content %}

    <h1 class="center-align">My Dashboard</h1>

    <div class="row">
        <div class="col s12 m4">

            <!-- Net Worth -->
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><strong>Net Worth</strong></span>
                    <h3 class="center-align">${{ netWorth }}</h3>
                </div>
            </div>

            <!-- Accounts Card -->
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><strong>Accounts</strong></span>
                    <div class="row">
                        {% for account in accounts %}
{#                            <p class="col s8">{{ account.name }}: </p>#}
                            <a href="/{{ username }}/{{ account.name }}" class="col s8 teal-text text-darken-1">
                                {{ account.name }}
                            </a>

                            {% if account.balance|make_list|first == "-" %}
                                <p class="col s4 red-text">${{ account.balance }}</p>
                            {% else %}
                                <p class="col s4">${{ account.balance }}</p>
                            {% endif %}
                        {% empty %}
                            <p class="col s12">No Accounts</p>
                        {% endfor %}
                    </div>
                    <a href="/{{ username }}/add_account" class="teal-text text-darken-1">Add an Account</a>
                </div>
            </div>


        <!-- Transactions -->
{#        <div class="col s12 m8">#}
{#            <div class="card teal lighten-3">#}
{#                <div class="card-content">#}
{#                    <span class="card-title"><strong>Transactions</strong></span>#}
{#                    <table>#}
{#                        <tr>#}
{#                            <th>Date</th>#}
{#                            <th>Amount</th>#}
{#                            <th>Type</th>#}
{#                            <th>Category</th>#}
{#                            <th>Notes</th>#}
{#                        </tr>#}
{#                        {% for account in accounts %}#}
{#                            {% for transaction in account.account.transaction_set.all %}#}
{#                                <tr>#}
{#                                    <td>{{ transaction.date }}</td>#}
{#                                    <td>{{ transaction.amount }}</td>#}
{#                                    <td>{{ transaction.transaction_type }}</td>#}
{#                                    <td>{{ transaction.category }}</td>#}
{#                                    <td>{{ transaction.notes }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        {% endfor %}#}
{#                    </table>#}
{#                    <br>#}
{#                    <a href="/{{ username }}/add_transaction" class="teal-text text-darken-1">Add Transactions</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title">
                        <a href="categories" class="teal-text text-darken-1">
                            <strong>Edit Transaction Categories</strong>
                        </a>
                    </span>
                </div>
            </div>
        </div>

{% endblock %}