{% extends 'budgeteer/app.html' %}

{% block content %}

    <h1 class="center-align">My Dashboard</h1>

    <div class="row">

        <!-- Net Worth -->
        <div class="col s12 m4">
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><strong>Net Worth</strong></span>
                    <h3 class="center-align">${{ netWorth }}</h3>
                </div>
            </div>
        </div>

        <!-- Accounts Card -->
        <div class="col s12 m4">
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><strong>Accounts</strong></span>
                    <div class="row">
                        {% for account in accounts %}
{#                            <p class="col s8">{{ account.name }}: </p>#}
                            <a href="/{{ request.user.username }}/{{ account.name }}" class="col s8 teal-text text-darken-1">
                                {{ account.name }}
                            </a>

                            {% if account.balance|make_list|first == "-" %}
                                <p class="col s4 red-text">${{ account.balance }}</p>
                            {% else %}
                                <p class="col s4">${{ account.balance }}</p>
                            {% endif %}
                        {% empty %}
                            <p class="col s12">No Accounts</p>
                        {% endfor %}
                    </div>
                    <a href="/{{ request.user.username }}/add_account" class="teal-text text-darken-1">Add an Account</a>
                </div>
            </div>
        </div>

        <!-- Transaction Categories -->
        <div class="col s12 m4">
            <div class="card teal lighten-3">
                <div class="card-content">
                    <span class="card-title">
                        <a href="/{{ request.user.username }}/budget" class="teal-text text-darken-1">
                            <strong>Edit Budget</strong>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card teal lighten-3">
                <div class="card-content">
                    {% if accounts %}
                        <img src="{% url 'budgeteer:graph_view' %}" alt="graph" style="width: 100%;" />
                    {% else %}
                        <p>No data to display: <a href="/{{ request.user.username }}/add_account"
                                                   class="teal-text text-darken-1">Add an Account</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}